@charset "UTF-8";

footer{
    background-color: #183F8C;
    color: #ffffff;
    padding: 30px 40px 10px 30px;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

footer p{
    position: relative;
    bottom: 24px;
    left: 40px; 
}

